@page "/Examiner/ExamList"
<h1 style="text-align: center;">Exam List</h1>
<style>
    .mud-table-cell {
        border: none !important;
        text-align: center;
    }

    .mud-table-head .mud-table-row .mud-table-cell {
        border-bottom: 1px solid grey !important;
        font-size: 1.2rem;
    }

    .mud-table {
        box-shadow: none !important;
    }

    .mud-table-root {
        border-collapse: separate !important;
        border-spacing: 0 !important;
    }

    .mud-table-head .mud-table-row {
        box-shadow: 0 5px 10px #e1e5ee;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 99;
    }
</style>
<div class="d-flex justify-content-center">
    <div class="mt-4">
        <div class="d-flex align-items-center flex-wrap custom-box mb-4">
            <MudTextField @bind-Value="request.ExamCode" Label="Exam Code" Variant="Variant.Outlined" Margin="Margin.Dense" Class="me-4" Clearable></MudTextField>
            <MudSelect @bind-Value="request.StatusId"
                       Variant="Variant.Outlined"
                       Label="Status"
                       Margin="Margin.Dense"
                       AnchorOrigin="Origin.BottomCenter"
                       Clearable
                       Class="me-4 col-auto">
                @if (statusList.Count > 0)
                {
                    @foreach (var item in statusList)
                    {
                        <MudSelectItem T="int?" Value="item.ExamStatusId">@item.StatusContent</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudSelect @bind-Value="request.SemesterId"
                       Variant="Variant.Outlined"
                       Label="Semester"
                       Margin="Margin.Dense"
                       AnchorOrigin="Origin.BottomCenter"
                       Clearable
                       Class="me-4 col-auto">
                @if (statusList.Count > 0)
                {
                    @foreach (var item in semesters)
                    {
                        <MudSelectItem T="int?" Value="item.SemesterId">@item.SemesterName</MudSelectItem>
                    }
                }
            </MudSelect>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Search" OnClick="GetData">Search</MudButton>
        </div>
        <div class="custom-box">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h4>Exam List</h4>
                </div>
            </div>
            <div>
                <MudTable T="ExaminerExamResponse" Items="ExamList" FixedHeader="true" Height="@(ExamList.Count == 0 ? null : "380px")" Hover="true">
                    <HeaderContent>
                        <MudTh>#</MudTh>
                        <MudTh>Exam Code</MudTh>
                        <MudTh>Status</MudTh>
                        <MudTh>Head of Department</MudTh>
                        <MudTh>Exam Type</MudTh>
                        <MudTh>Exam Date</MudTh>
                        <MudTh>Review Start Date</MudTh>
                        <MudTh>Review End Date</MudTh>
                        <MudTh>Semester</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@((ExamList.IndexOf(@context) + 1))</MudTd>
                        <MudTd>@context.ExamCode</MudTd>
                        <MudTd>
                            <label class="fw-bold" style="color:@(ColorList[context.ExamStatusId.Value])">@context.ExamStatusContent</label>
                        </MudTd>
                        <MudTd>@context.HeadDepartmentName</MudTd>
                        <MudTd>@context.ExamType</MudTd>
                        <MudTd>@(context.ExamDate.HasValue ? context.ExamDate.Value.ToString("yyyy-MM-dd") : "N/A")</MudTd>
                        <MudTd>@(context.StartDate.HasValue ? context.StartDate.Value.ToString("yyyy-MM-dd") : "N/A")</MudTd>
                        <MudTd>@(context.EndDate.HasValue ? context.EndDate.Value.ToString("yyyy-MM-dd") : "N/A")</MudTd>
                        <MudTd>@context.SemseterName</MudTd>
                        <MudTd>
                            <div class="d-flex align-items-center justify-content-around">
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => OpenAddEditDialogAsync(context.ExamId))">Detail</MudButton>
                            </div>
                        </MudTd>
                       
                    </RowTemplate>
                </MudTable>
                @if (ExamList.Count == 0)
                {
                    <p class="text-center fs-6 mt-4">No Data</p>
                }
            </div>
            <div class="mt-5 d-flex justify-content-between align-items-center">
                <div>
                    <MudButton Variant="Variant.Filled" OnClick="ExportAllExams" Color="Color.Surface">Export All</MudButton>
                </div>
                <div>
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="AssignExam">Transfer Exam</MudButton>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    IList<IBrowserFile> _files = new List<IBrowserFile>();
    @inject ISemesterService SemesterService
    public List<ExaminerExamResponse> ExamList = new List<ExaminerExamResponse>();
    public List<ExaminerExamResponse> assignList = new List<ExaminerExamResponse>();

    public List<ExamStatus> statusList = new List<ExamStatus>();
    public List<Semester> semesters = new List<Semester>();
    public ExamSearchRequest request = new();

    private Dictionary<int, string> ColorList = new Dictionary<int, string>
    {
        { 1, "#D3D3D3" }, // Unassigned
        { 2, "#87CEEB" }, // Assigned
        { 3, "#FFD700" }, // Awaiting Lecturer Confirm
        { 4, "#6495ED" }, // Reviewing
        { 5, "#FF4500" }, // Error
        { 6, "#32CD32" }, // OK
        { 7, "#006400" }, // Completed
        { 8, "#DC143C" }  // Discard
    };

    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await CustomAuthStateProvider.IsUserAuthenticated();

        if (isAuthenticated)
        {
            var auth = await CustomAuthStateProvider.GetAuthenticationStateAsync();
            var user = auth.User;
            var userId = int.TryParse(user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value, out var id) ? id : 0;

            var response = await MenuServive.CheckAccess(userId, 3);

            if (!response.IsSuccessful)
            {
                NavManager.NavigateTo("/404");
            }
            else
            {
                await GetData();
                var semesterrList = await this.SemesterService.GetSemester();
                if (semesterrList.IsSuccessful)
                {
                    semesters = semesterrList.Items;
                }
                var sList = await this.StatusServive.GetStatus();
                if (sList.IsSuccessful)
                {
                    statusList = sList.Items;
                }

                if (Layout != null)
                {
                    Layout.Header = "Home";
                    Layout.HeaderLink = "/Home";
                    Layout.SubHeader = "Exam Assign List";
                    Layout.RefreshLayout();
                }
            }
        }
    }

    private async Task OpenAddEditDialogAsync(int examId, bool isView = true)
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                BackdropClick = false,

            };

        var parameters = new DialogParameters<ExamDetail>
        {
            { x => x.IsView, isView },
            {x => x.ExamId,examId}
        };

        var dialog = await DialogService.ShowAsync<ExamDetail>(examId == 0 ? "Exam Create" : "Exam Detail", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await GetData();
        }
    }

    private async Task OpenImportDialogAsync()
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false,

            };

        var parameters = new DialogParameters<ImportExam>();

        var dialog = await DialogService.ShowAsync<ImportExam>("Import Exam", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await GetData();
        }
    }

    private void UploadFiles(IBrowserFile file)
    {
        _files.Clear();
        _files.Add(file);
    }

    private async Task GetData()
    {
        var eList = await this.ExamServive.GetExamList(request);
        if (eList.IsSuccessful)
        {
            ExamList = eList.Items
                            .Where(e => e.ExamDate.HasValue) 
                            .OrderBy(e => e.ExamDate.Value >= DateTime.Now ? e.ExamDate.Value : DateTime.MaxValue) 
                            .ToList();
        }
    }

    private async Task AssignExam()
    {
        assignList = ExamList.Where(x => x.ExamStatusId == 1).Select(x => x).ToList();

        if (assignList.Count > 0)
        {
            var msg = CheckSelectedExam();

            if (msg.Length == 0)
            {
                var mailList = assignList.GroupBy(x => x.HeadDepartmentName).Select(x => x.Key).ToList();

                List<MailUtil> list = new();

                foreach (var item in mailList)
                {
                    var mail = new MailUtil
                        {
                            MailTo = item
                        };
                    list.Add(mail);
                }

                var mailModel = new MailModel
                    {
                        Body = "Đề thi đã được khảo thí chuyển cho các chủ nhiệm bộ môn. Chủ nhiệm bộ môn thực hiện việc assign cho các giảng viên để thực hiện test đề thi",
                        MailList = list,
                        Subject = "Assign đề thi cho chủ nhiệm bộ môn"
                    };

                var resp = await this.ExamServive.ChangeStatusExam(assignList.ToList());

                if (resp.IsSuccessful)
                {
                    var result = await this.MailServive.SendMail(mailModel);
                    await GetData();
                }
            }
            else
            {
                foreach (var item in msg)
                {
                    Snackbar.Add(item, Severity.Warning);
                }
            }
        }
    }

    public string[] CheckSelectedExam()
    {
        List<string> errors = new List<string>();

        var examsWithWrongStatus = assignList.Where(x => x.ExamStatusId != 1).ToList();
        foreach (var exam in examsWithWrongStatus)
        {
            errors.Add($"Exam {exam.ExamCode} is already assigned. Cannot Re-Assign!");
        }

        var examsWithMissingDates = assignList.Where(x => x.EndDate == null || x.StartDate == null).ToList();
        foreach (var exam in examsWithMissingDates)
        {
            errors.Add($"Exam {exam.ExamCode} has Start Date or End Date not chosen yet.");
        }

        var examsWithMissingHead = assignList.Where(x => x.HeadDepartmentId == null).ToList();
        foreach (var exam in examsWithMissingHead)
        {
            errors.Add($"Exam {exam.ExamCode} has no subject leader yet.");
        }

        return errors.ToArray();
    }
    private async Task ExportAllExams()
    {
        var response = await this.ExamServive.ExportAllExams();

        if (response != null && response.IsSuccessful)
        {
            try
            {
                using var stream = new MemoryStream(response.Item);
                var fileUrl = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{Convert.ToBase64String(stream.ToArray())}";
                await js.InvokeVoidAsync("open", fileUrl);
            }
            catch (Exception ex)
            {
                Snackbar.Add($"Error during file download: {ex.Message}", Severity.Error);
            }
        }
        else
        {
            Snackbar.Add("Error exporting exams.", Severity.Error);
        }
    }


}