@page "/edituser/{UserId:int?}"


<EditForm Model="user" OnValidSubmit="HandleValidSubmit">
    <div>
        <label>Email:</label>
        @if (!isAddOrEdit)
        {
            <MudText>@user.Mail</MudText>
        }
        else
        {
            <MudTextField @bind-Value="user.Mail" Variant="Variant.Outlined" Margin="Margin.Dense" />
        }
    </div>
    <div>
        <label>Role:</label>
        @if (!isAddOrEdit)
        {
            <MudText>@user.UserRole.RoleName</MudText>
        }
        else
        {
            <MudSelect @bind-Value="user.UserRole.RoleId"
                       Text="@user.UserRole.RoleName"
                       Variant="Variant.Outlined"
                       Label="Subject"
                       Margin="Margin.Dense"
                       Clearable
                       AnchorOrigin="Origin.BottomCenter"
                       Class="me-4">

                @foreach (var item in roleList)
                {
                    <MudSelectItem Value="@item.RoleId">@item.RoleName</MudSelectItem>
                }
            </MudSelect>
        }
    </div>
    <div>
        <label>Campus:</label>
        @if (!isAddOrEdit)
        {
            <MudText>@user.Campus.CampusName</MudText>
        }
        else
        {
            <MudSelect @bind-Value="user.Campus.CampusId"
                       Text="user.Campus.CampusName"
                       Variant="Variant.Outlined"
                       Label="Subject"
                       Margin="Margin.Dense"
                       Clearable
                       AnchorOrigin="Origin.BottomCenter"
                       Class="me-4">

                @foreach (var item in camList)
                {
                    <MudSelectItem Value="@item.CampusId">@item.CampusName</MudSelectItem>

                }
            </MudSelect>
        }
    </div>
    <div>
        <label>Active:</label>
        <MudCheckBox @bind-Value="user.IsActive" Disabled="@(!isAddOrEdit)" />
    </div>
    <div>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Update User</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="Cancel">@(UserId != null && isAddOrEdit == true ? "Cancel" : "Back")</MudButton>
    </div>
</EditForm>


@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    [Parameter]
    public int? UserId { get; set; }

    private User user = new();

    private List<Campus> camList = new();

    private List<UserRole> roleList = new();

    private bool isAddOrEdit { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await CustomAuthStateProvider.IsUserAuthenticated();

        if (isAuthenticated)
        {
            if (UserId != null)
            {
                await FetchUserDetails();
            }
            else
            {
                isAddOrEdit = true;
            }
        }

        if (Layout != null)
        {
            Layout.Header = "Home";
            Layout.HeaderLink = "/Home";
            Layout.SubHeader = UserId != null ? "Edit User" : "Add User";
            Layout.RefreshLayout();
        }
    }

    private async Task FetchUserDetails()
    {
        var result = await AccountService.GetByIdAsync(UserId.Value);
        if (result != null)
        {
            user = result.Item;
        }
    }

    private async Task HandleValidSubmit()
    {
        RequestResponse resp = new();

        if (UserId != null && isAddOrEdit == false)
        {
            isAddOrEdit = true;
        }
        else if (UserId != null && isAddOrEdit == true)
        {
            resp = await AccountService.UpdateAsync(user);
        }
        else
        {
            // resp = await accountService.UpdateAsync(UserId.Value, user);
        }

        if (resp.IsSuccessful)
        {
            NavManager.NavigateTo("/usermanagement");
        }
    }

    private async Task GetCampus()
    {
        var result = await CampusServive.GetCampus();
        if (result != null)
        {
            camList = result.Items;
        }
    }

    private async Task GetRoles()
    {
        var result = await RoleServive.GetRoles();
        if (result != null)
        {
            roleList = result.Items;
        }
    }

    private void Cancel()
    {
        if (UserId != null && isAddOrEdit == true)
        {
            isAddOrEdit = false;
        }
        else
        {
            NavManager.NavigateTo("/UserManagement");
        }
    }
}
