@page "/Admin/UserManagement"
@inject HttpClient Http

<h1 style="text-align: center;">User Management</h1>

<style>
    td {
        vertical-align: middle;
    }
</style>

<div class="d-flex justify-content-center">
    <div class="w-75 custom-box ">
        <div class="d-flex align-items-center justify-content-between mt-4 mb-4">
            <label class="me-3">User:</label>
            <input class="form-control me-3" type="text" @bind="searchText" placeholder="Search users" style="width: 50%;" /> <!-- Adjust width -->
            <button class="btn btn-success me-3" @onclick="FetchUsers">Search</button>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="AddNewUser">Add New User</MudButton>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       OnClick="OpenImportDialogAsync">
                Import User
            </MudButton>
        </div>

        @if (users.Count > 0)
        {
            <table class="table table-striped table-bordered text-center">
                <!-- Center table content -->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Is Active</th>
                        <th>Role</th>
                        <th>Campus</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (users != null)
                    {
                        var index = 1;
                        @foreach (var user in users)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@user.Email</td>
                                <td>@user.UserName</td>
                                <td>@user.Tel</td>
                                <td class="d-flex justify-content-center">
                                    <MudCheckBox @bind-Value="@user.IsActive" Disabled></MudCheckBox>
                                </td>
                                <td>@user.RoleName</td>
                                <td>@user.CampusName</td>
                                <td>
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Variant="Variant.Filled" @onclick="() => ViewUserDetail(user.UserId)"></MudIconButton>
                                    <MudButton StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" Variant="Variant.Filled" @onclick="() => DeleteUser(user.UserId)"></MudButton>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <span class="text-danger">No data found.</span>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private List<UserResponse> users = new List<UserResponse>();

    private string searchText;

    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await CustomAuthStateProvider.IsUserAuthenticated();

        if (isAuthenticated)
        {
            var auth = await CustomAuthStateProvider.GetAuthenticationStateAsync();
            var user = auth.User;
            var userId = int.TryParse(user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value, out var id) ? id : 0;

            var response = await MenuService.CheckAccess(userId, 1);

            if (!response.IsSuccessful)
            {
                NavManager.NavigateTo("/404");
            }
            else
            {
                await FetchUsers();

                if (Layout != null)
                {
                    Layout.Header = "Home";
                    Layout.HeaderLink = "/Home";
                    Layout.SubHeader = "User Management";
                    Layout.SubHeader1 = string.Empty;
                    Layout.RefreshLayout();
                }
            }
        }


    }
    private async Task OpenImportDialogAsync()
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false,

            };

        var parameters = new DialogParameters<ImportUser>();

        var dialog = await DialogService.ShowAsync<ImportUser>("Import User", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await FetchUsers();
        }
    }

    private async Task FetchUsers()
    {
        var response = await UserService.GetUserForAdmin(searchText);
        if (response.IsSuccessful)
        {
            users = response.Items;
        }
    }

    private async Task DeleteUser(int UserId)
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false,
            };

        var parameters = new DialogParameters<Dialog>
        {
            { x => x.Content, "Are you sure want to delete this account?" },
            { x => x.BtnTextConfirm, "Delete" },
            { x => x.BtnTextCancel, "Cancel" },
        };

        var dialog = await DialogService.ShowAsync<Dialog>("Delete Account", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var auth = await CustomAuthStateProvider.GetAuthenticationStateAsync();
            var user = auth.User;
            var currentUserId = int.TryParse(user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value, out var id) ? id : 0;

            if (currentUserId == UserId)
            {
                this.Snackbar.Add("You cannot delete your current account", Severity.Warning);
            }
            else
            {
                var response = await UserService.DeleteAsync(UserId);
                if (response.IsSuccessful)
                {
                    await FetchUsers();
                }
            }
        }
    }

    private void AddNewUser()
    {
        NavManager.NavigateTo($"/Admin/AddUser");
    }


    private void ViewUserDetail(int userId)
    {
        NavManager.NavigateTo($"/Admin/EditUser/{userId}");
    }

}
